In [1]:
import os
import json
import numpy as np
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [2]:
SALES_FILE = "suwon_hotspots_gi_scores.csv"   # 매출 CSV
ENF_FILES = [
    "hotspots_period_morning_hot.json",
    "hotspots_period_lunch_hot.json",
    "hotspots_period_afternoon_hot.json",
    "hotspots_period_evening_hot.json",
]

In [4]:
import os
import pandas as pd

SALES_FILE = "suwon_hotspots_gi_scores.csv"   # 매출 CSV
ENF_FILES = [
    "hotspots_period_morning_hot.json",
    "hotspots_period_lunch_hot.json",
    "hotspots_period_afternoon_hot.json",
    "hotspots_period_evening_hot.json",
]

# 1) 매출 CSV
sales = pd.read_csv(SALES_FILE)

# 2) 단속 Hotspot JSON들 (있는 것만 읽어서 합치기)
enf_list = [pd.read_json(f) for f in ENF_FILES if os.path.exists(f)]
enf = pd.concat(enf_list, ignore_index=True) if enf_list else pd.DataFrame()

# 확인(원하면 주석 해제)
# print(sales.head())
# print(enf.head())
# print(len(sales), len(enf))

In [5]:
sales

,lat,lon,AMT,NOC,amt_z,amt_p,amt_label,noc_z,noc_p,noc_label
0,37.23549,127.02593,3017820960,141467,-0.207832,0.407,Not significant,-0.052300,0.266,Not significant
1,37.23718,127.02909,6487059950,331120,-0.181896,0.439,Not significant,-0.003161,0.300,Not significant
2,37.23779,127.06084,3364776456,172132,-0.170129,0.345,Not significant,-0.292876,0.483,Not significant
3,37.23836,127.05580,10649493269,179430,-0.032996,0.451,Not significant,-0.169114,0.435,Not significant
4,37.24036,127.05543,8707320312,367991,0.001803,0.352,Not significant,-0.047000,0.459,Not significant
...,...,...,...,...,...,...,...,...,...,...
136,37.30625,127.00332,2744293309,145969,0.596546,0.045,Hotspot,0.284122,0.103,Not significant
137,37.30710,126.99257,8116257122,397390,-0.183211,0.424,Not significant,-0.064969,0.490,Not significant
138,37.30712,126.99062,9869088984,543115,-0.156821,0.425,Not significant,-0.025170,0.468,Not significant
139,37.30872,126.98991,975265462,65555,-0.184972,0.358,Not significant,-0.120655,0.304,Not significant
140,37.31435,126.98908,17462381065,491407,-0.022379,0.321,Not significant,-0.023418,0.481,Not significant

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        141 non-null    float64
 1   lon        141 non-null    float64
 2   AMT        141 non-null    int64
 3   NOC        141 non-null    int64
 4   amt_z      141 non-null    float64
 5   amt_p      141 non-null    float64
 6   amt_label  141 non-null    object
 7   noc_z      141 non-null    float64
 8   noc_p      141 non-null    float64
 9   noc_label  141 non-null    object
dtypes: float64(6), int64(2), object(2)
memory usage: 11.1+ KB

In [7]:
enf

,lat,lon,period_key,period_label,count,local_sum,local_n,GiZ,GiP,color,radius
0,37.241741,127.034165,morning,오전,560,1797,8,2.674101,0.008,#e53935,27.234976
1,37.260886,127.025910,morning,오전,68,1059,8,2.112647,0.008,#e53935,22.397148
2,37.265142,127.029824,morning,오전,201,3314,8,6.877489,0.002,#e53935,40.000000
3,37.261798,127.037360,morning,오전,10,874,8,1.827492,0.008,#e53935,20.749383
4,37.295063,127.041470,morning,오전,25,927,8,1.912792,0.008,#e53935,21.239137
...,...,...,...,...,...,...,...,...,...,...,...
239,37.263954,127.032260,evening,저녁,1,786,8,1.654294,0.008,#e53935,19.861147
240,37.266801,127.031032,evening,저녁,1,1781,8,3.862908,0.006,#e53935,29.061412
241,37.266686,127.030273,evening,저녁,1,4808,8,10.581980,0.002,#e53935,40.000000
242,37.266440,127.031230,evening,저녁,1,1778,8,3.856249,0.006,#e53935,29.036534
243,37.262597,127.035744,evening,저녁,2,2722,8,5.949439,0.006,#e53935,36.388219

In [12]:
enf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lat           244 non-null    float64
 1   lon           244 non-null    float64
 2   period_key    244 non-null    object
 3   period_label  244 non-null    object
 4   count         244 non-null    int64
 5   local_sum     244 non-null    int64
 6   local_n       244 non-null    int64
 7   GiZ           244 non-null    float64
 8   GiP           244 non-null    float64
 9   color         244 non-null    object
 10  radius        244 non-null    float64
dtypes: float64(5), int64(3), object(3)
memory usage: 21.1+ KB

In [8]:
SALES_FILE = "suwon_hotspots_gi_scores.csv"  # 네 파일 경로

# 기준 (필요하면 숫자만 조정)
Z_HOT  = 1.65     # ~90%
Z_COLD = -1.65
P_MAX  = 0.10     # p <= 0.10일 때만 유의로 볼지 여부(있을 때 적용)

df = pd.read_csv(SALES_FILE)

def pick_hot(df, z_col, p_col=None, label_col=None):
    if label_col and label_col in df.columns:
        s = df[label_col].astype(str).str.lower()
        cond = s.str.contains("hot", na=False)
    else:
        cond = df[z_col] >= Z_HOT
        if p_col and p_col in df.columns:
            cond &= (df[p_col] <= P_MAX)
    return df.loc[cond].copy()

def pick_cold(df, z_col, p_col=None, label_col=None):
    if label_col and label_col in df.columns:
        s = df[label_col].astype(str).str.lower()
        cond = s.str.contains("cold", na=False)
    else:
        cond = df[z_col] <= Z_COLD
        if p_col and p_col in df.columns:
            cond &= (df[p_col] <= P_MAX)
    return df.loc[cond].copy()

def radius_from_z(z):
    z = max(float(z), 0.0)
    return float(min(36, max(6, 6 + 1.8*z)))  # 카카오 원 반경 스케일값(상대)

def export_sales_layer(df_sub, z_col, color_hex, out_path):
    out = df_sub[["lat","lon", z_col]].copy()
    out.rename(columns={z_col:"z"}, inplace=True)
    out["color"]  = color_hex
    out["radius"] = [radius_from_z(v) for v in out["z"]]
    out[["lat","lon","color","radius","z"]].to_json(out_path, orient="records", force_ascii=False)
    print("저장:", out_path, len(out))

# AMT 기준
amt_hot  = pick_hot(df,  "amt_z", "amt_p", "amt_label")
amt_cold = pick_cold(df, "amt_z", "amt_p", "amt_label")
export_sales_layer(amt_hot,  "amt_z", "#FB8C00", "sales_amt_hot.json")   # 주황
export_sales_layer(amt_cold, "amt_z", "#1976D2", "sales_amt_cold.json")  # 파랑

# NOC 기준
noc_hot  = pick_hot(df,  "noc_z", "noc_p", "noc_label")
noc_cold = pick_cold(df, "noc_z", "noc_p", "noc_label")
export_sales_layer(noc_hot,  "noc_z", "#8E24AA", "sales_noc_hot.json")   # 보라
export_sales_layer(noc_cold, "noc_z", "#039BE5", "sales_noc_cold.json")  # 하늘

저장: sales_amt_hot.json 11
저장: sales_amt_cold.json 9
저장: sales_noc_hot.json 9
저장: sales_noc_cold.json 9

In [11]:
SALES_FILE = "suwon_hotspots_gi_scores.csv"  # 네 파일 경로로 둠

# ---- 기준 (원하면 숫자만 조정) ----
Z_HOT  = 1.65      # ~90%
Z_COLD = -1.65
P_MAX  = 0.10      # p <= 0.10일 때 유의(해당 컬럼 있을 때 적용)

df = pd.read_csv(SALES_FILE)

def pick_hot(df, z_col, p_col=None, label_col=None):
    if label_col and label_col in df.columns:
        s = df[label_col].astype(str).str.lower()
        cond = s.str.contains("hot", na=False)
    else:
        cond = df[z_col] >= Z_HOT
        if p_col and p_col in df.columns:
            cond &= (df[p_col] <= P_MAX)
    return df.loc[cond].copy()

def pick_cold(df, z_col, p_col=None, label_col=None):
    if label_col and label_col in df.columns:
        s = df[label_col].astype(str).str.lower()
        cond = s.str.contains("cold", na=False)
    else:
        cond = df[z_col] <= Z_COLD
        if p_col and p_col in df.columns:
            cond &= (df[p_col] <= P_MAX)
    return df.loc[cond].copy()

# ---------- z → color / radius ----------
def color_from_z(z: float) -> str:
    z = float(z)
    if z >=  2.58: return "#B71C1C"  # Hot 99
    if z >=  1.96: return "#D32F2F"  # Hot 95
    if z >=  1.65: return "#FB8C00"  # Hot 90
    if z >   0.00: return "#FFE0B2"  # 약한 양성
    if z <= -2.58: return "#0D47A1"  # Cold 99
    if z <= -1.96: return "#1976D2"  # Cold 95
    if z <= -1.65: return "#42A5F5"  # Cold 90
    return "#BBDEFB"                 # 약한 음성

def radius_from_z(z: float) -> float:
    # |z|가 클수록 크게 (6~40)
    return float(np.clip(8 + 4*abs(float(z)), 6, 40))

def export_layer(df_sub, z_col, out_path):
    out = df_sub[["lat","lon", z_col]].copy()
    out.rename(columns={z_col:"z"}, inplace=True)
    out["color"]  = out["z"].map(color_from_z)
    out["radius"] = out["z"].map(radius_from_z)
    out[["lat","lon","color","radius","z"]].to_json(out_path, orient="records", force_ascii=False)
    print("저장:", out_path, len(out))

# ---------- AMT ----------
amt_hot  = pick_hot(df,  "amt_z", "amt_p", "amt_label")
amt_cold = pick_cold(df, "amt_z", "amt_p", "amt_label")
export_layer(amt_hot,  "amt_z", "sales_amt_hot.json")
export_layer(amt_cold, "amt_z", "sales_amt_cold.json")

# ---------- NOC ----------
noc_hot  = pick_hot(df,  "noc_z", "noc_p", "noc_label")
noc_cold = pick_cold(df, "noc_z", "noc_p", "noc_label")
export_layer(noc_hot,  "noc_z", "sales_noc_hot.json")
export_layer(noc_cold, "noc_z", "sales_noc_cold.json")

print("완료: sales_amt_hot.json, sales_amt_cold.json, sales_noc_hot.json, sales_noc_cold.json")

저장: sales_amt_hot.json 11
저장: sales_amt_cold.json 9
저장: sales_noc_hot.json 9
저장: sales_noc_cold.json 9
완료: sales_amt_hot.json, sales_amt_cold.json, sales_noc_hot.json, sales_noc_cold.json